header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: #888;
}

header a{
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 9px;
    color: #ededed;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 10px;
}

body{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#content{
    background-color: #efefef;
    height: 100px;
}

#content a {
    font-size: 21px;
    color: #333
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}