{% extends 'carros/base.html' %}

{% block title %}
Minha Concessionária
{% endblock %}

{% block content %}
{% for message in messages %}
<div class="alert alert-primary" role="alert">
    <span {% if message.tags %} class="alert alert={{message.tags}}" {% endif %}>{{message}}</span>
</div>
{%endfor%}
{% for carro in carro_list %}

<article>

    <h2>
        <a href="{{ carro.get_absolute_url }}">
            {{ carro.marca }} {{ carro.modelo }}
        </a>
    </h2>
    <p class="placa">
        Placa: {{ carro.placa }}
    </p>
    <a href="manage/atualizar-registro/{{ carro.id }}">Editar registro</a>
    <a href="manage/deletar-registro/{{ carro.id }}">Deletar registro</a>
</article>
{% endfor %}
<a href="manage/adicionar-registro" style="color: #4533ff !important; font-size: 20px;">Adicionar novo registro</a>
{% endblock %}