{% extends 'base.html' %}

{% block title %}Concessionária{% endblock %}

{% block content %}
<div id="header">
    <a style="cursor: pointer; padding: 0 30px" href="/concessionaria">Estoque</a>
    <a style="cursor: pointer; padding: 0 30px" href="/colaboradores">Colaboradores</a>
    <a style="cursor: pointer; padding: 0 30px" href="/clientes">Clientes</a>
    <a style="cursor: pointer; padding: 0 30px" href="/oficina">Oficina</a>

    <a href="#" id='lnkSuccess'>API - Success</a>
    <a href="#" id='lnkError'>API - Error</a>
</div>

<div>
    <p id="post">Json Here</p>
</div>
{% endblock %}